
html
{
    color-scheme: light dark;
}

body
{
    background-color: #024959;

    font-family: system-ui;
    font-size: 1.25rem;
    line-height: 1.5;
}

hr
{
    border: 0px ;
    border-bottom: 2px black solid;
}

h1
{
    text-align:center;
}

a
{
    color: black;
}

#maincontents, #logo
{
    width: 800px;
    background: white;
    border: 2px solid black;
    border-radius: 0.5em;
    padding: 5px;
    margin-top: 10px;
    margin-left:auto;
    margin-right:auto;
}

#logo
{
    background-color: white;
}

.logo
{
    text-decoration:none;
}

